.popup {
    position: fixed;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ddd;
    color: #333;
    border: 1px solid grey;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 90%;
    max-width: 20rem;
    animation: slideDown 0.4s ease-out forwards;

    button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: white;
        color: #333b;
        box-shadow: 1px 2px 4px;
    }
}
.popup-control {
  display: flex;
  gap: 1rem;
}
@keyframes slideDown {
    from {
      transform: translateX(-50%) translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(-50%) translateY(20px);
      opacity: 1;
    }
}
.popup button:hover {
    color: #333f;
    box-shadow: 2px 3px 6px;
}